//**********
// COLORS
//**********
$blue_c:#00AB94;
$light_blue_c:#00ccb2;
$orange_c:#ff9700;
$light_orange_c:#fdbf00;
$dark_gray_c: #2b2b2b;

//*************
// BREAKPOINTS
//*************
$large_desktop: 1440px;
$desktop: 1200px;
$laptop: 950px;
$tablet: 870px;
$mobile: 670px;

//**********
//FONT-SIZES
//**********
$font_XXS: 0.70rem;
$font_XS: 0.85rem;
$font_S: 1rem;
$font_M: 1.15rem;
$font_L: 1.5rem;
$font_XL: 2rem;
$font_XXL: 2.5rem;
$font_XXXL: 3rem;